.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #5b646b;
	color: white;
	height: 60px
  }
  a{
	text-decoration: none;
  }
  .copyright{
	font-size: 10px;
	font-family: sans-serif;
  }
  
  .foot-instagram,
  .foot-facebook,
  .foot-twitter,
  .foot-linkdin {
	padding: 10px;
	border-radius: 25px;
	font-size: 12px;
	color: white;
	transition: 0.5s;
	cursor: pointer;
  }
  .foot-facebook {
	padding-inline: 12px;
  }
  .foot-instagram:hover {
	color: white;
	background-color: #c72929ea;
  }
  .foot-facebook:hover {
	color: white;
	background-color: rgb(19, 19, 136);
  }
  .foot-linkdin:hover {
	color: white;
	background-color: #0693e3;
  }
  .foot-twitter:hover {
	color: white;
	background-color: #8ed1fc;
  }
  
  @media (max-width: 620px){
	.footer{
	  flex: inline-block;
	}
  }